.Pra{

color: rgb(0, 0, 0);
margin-right: 45;
width: 1500px;
height:450px;
background-color: #E1EAF5;
border-radius: 50%;
padding: 30px;

}

.image {
  
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 10px;
  }

  .Style1{

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
 
  }

  body{
    background-color: #E1EAF5;
  }
   
  .box{

    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
  
  }

  .border{

   
    background-color: darkcyan;
    padding-right: 10px;

  }

   
 .Footer
 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 25px;
  color: black;
}

.P{
  display: flex;
  justify-content:center;
  align-items:flex-end;
  gap: 20px;
  border-radius: 50%;
}

nav 
{
  display: flex;
  justify-content:flex-end;
  align-items:end;
  gap: 30px;
  margin: 20px;
   }   


   .Footer a
   {
    color: black;
  }


  nav a
{
  color: black;
   }
